body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home */

.home-wrapper {
  width: 100%;
  float: left;
  display:inline-flex;
}

.home-form-wrapper {
  margin-block-start: 150px;
  display: inline-block;
  align-items:center;
  width: 50%;
  height: 50%;
  font-family: 'Do Hyeon', sans-serif;

}

.form-home {
  margin-top: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: auto;
}

.primary-input {
  display: block;
  border: 1px solid fade(white, 40%);
  background-color: fade(white, 20%);
  width: 250px;
  color: #F46001;
  font-family: 'Do Hyeon', cursive;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.primary-title {
  color: white;
  font-size:2.5em;
  font-family: 'Do Hyeon', sans-serif;
}

.primary-home-title-join {
  color: white;
  font-size:3em;
  font-family: 'Do Hyeon', sans-serif;
}

.primary-home-title-create {
  color: white;
  font-size:3em;
  font-family: 'Do Hyeon', sans-serif;
  margin-bottom: 0px;
}

::placeholder {
  color: #333333;
  font-size: 1.0em;
  font-family: 'Do Hyeon', sans-serif;
}

.treat-button {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 4vmin;
  appearance: none;
  background: linear-gradient(to bottom, #370466, #cb05f3);
  border: none;
  color: #FFF;
  border-radius: 2em;
  padding: .6em 1.5em;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 1em rgba(white, .2); 
  transition: transform .1s cubic-bezier(.5, 0, .5, 1);
  box-shadow: 0.2s;
  margin: auto;
  margin-top: 2%;
  width: 75%;
  height: 48%;
  font-size: 20px;
  text-align: center;
}

.treat-button-home {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 4vmin;
  appearance: none;
  background: linear-gradient(to bottom, #370466, #cb05f3);
  border: none;
  color: #FFF;
  border-radius: 2em;
  padding: .6em 1.5em;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 1em rgba(white, .2); 
  transition: transform .1s cubic-bezier(.5, 0, .5, 1);
  box-shadow: 0.2s;
  margin: auto;
  margin-top: 2%;
  width: 10%;
  height: 48%;
  font-size: 20px;
  text-align: center;
}

.treat-button-home-create {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 4vmin;
  appearance: none;
  background: linear-gradient(to bottom, #370466, #cb05f3);
  border: none;
  color: #FFF;
  border-radius: 2em;
  padding: .6em 1.5em;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 1em rgba(white, .2); 
  transition: transform .1s cubic-bezier(.5, 0, .5, 1);
  box-shadow: 0.2s;
  margin: auto;
  margin-top: 2%;
  width: 20%;
  height: 48%;
  font-size: 20px;
  text-align: center;
}

.treat-button:active {
    transform: scale(0.8) translateY(10%);
    transition-timing-function: cubic-bezier(.5, 0, .5, 1);
  }

.p-home {
  margin-block-start: 150px;
  display: inline-block;
  align-items:center;
  width: 50%;
  height: 50%;
  font-family: 'Do Hyeon', sans-serif;
  color: white;
}
.p-home-text {
  padding-top: 20px;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
  height: 50%;
  font-size: 25px;
  font-family: 'Do Hyeon', sans-serif;
  color: white;

}

.divider{
  position:absolute;
  left:50%;
  top:20%;
  bottom:20%;
  border-left:3px solid white;
}

.p-home a {
  font-size: 27px;
  color: rgb(147, 243, 211);
}

/* Quiz Creation */

.quizCreation {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    height: 100vh;
    width: 100vw;
}

@keyframes bgcolor {
  0% {
      background-color: #45a3e5
  }

  30% {
      background-color: #66bf39
  }

  60% {
      background-color: #eb670f
  }

  90% {
      background-color: #f35
  }

  100% {
      background-color: #864cbf
  }
}

.title-description-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.questions-1-2-3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.questions-4-5 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

/* QuizCode */
.quizcode-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  flex-flow: column;
  overflow: auto;
  animation: bgcolor 10s infinite;
  animation-direction: alternate;
}

@keyframes bgcolor {
  0% {
      background-color: #45a3e5
  }

  30% {
      background-color: #66bf39
  }

  60% {
      background-color: #eb670f
  }

  90% {
      background-color: #f35
  }

  100% {
      background-color: #864cbf
  }
}

.primary-subtitle {
  color: white;
  font-size:1.5em;
  font-family: 'Do Hyeon', sans-serif;
}

.treat-button-quizcode {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 4vmin;
  appearance: none;
  background: linear-gradient(to bottom, #370466, #cb05f3);
  border: none;
  color: #FFF;
  border-radius: 2em;
  padding: .6em 1.5em;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 1em rgba(white, .2); 
  transition: transform .1s cubic-bezier(.5, 0, .5, 1);
  box-shadow: 0.2s;
  margin: auto;
  margin-top: 2%;
  width: 12%;
  height: 2em;
  font-size: 20px;
  text-align: center;
}

.quizcode-title {
  margin-top: 4em
}

.quizcode-pastebutton {
  margin-top: 4em;
}

/* Lobby Game */
.lobby-game-wrapper {
  height: 91vh;
  width: 100%;
  display: flex;
  align-content: center;
  flex-flow: column;
  overflow: auto;
  animation: bgcolor 10s infinite;
  animation-direction: alternate;
}

.lobby-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  flex-flow: column;
  overflow: auto;
  animation: bgcolor 10s infinite;
  animation-direction: alternate;
}

.users-lobby {
  font-family: 'Do Hyeon', sans-serif;
  color: white;
  font-size:1.5em;
  list-style: none;
  display: flex;
}

/* Game */

.wrapper-lobbygame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-ul {
  display: flex;
}

.users-lobby {
  margin-right: 0.5em
}

/* Game */

.questions-game {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  color: white;
  font-size:1.5em;
  list-style: none;
  margin-left: 20px;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.primary-input-game {
  display: block;
  border: 1px solid fade(white, 40%);
  background-color: fade(white, 20%);
  width: 300px;
  color: #F46001;
  font-family: 'Amatic SC', cursive;
  border-radius: 3px;
  padding: 10px 15px;
  display: block;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin: 10px;
}

.primary-input {
  
  border:0px;    
}
::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
  
}